buildServer.json

# cursor settings
.cursor

# vscode settings
.vscode

# Ignore cruft in the project bundle
*.xcodeproj/*
!*.xcodeproj/project.pbxproj

# Ignore build products folder
build/

# Ignore installed pods
Pods/*