<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>background-processing</string>
		<string>healthkit</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>We need access to your health data to track your steps and distance</string>
</dict>
</plist>
